.hdg{
    border: 7px double;
    backdrop-filter: blur(50px);
    text-align: center;
    box-shadow: 10px 10px 10px 
    }
body{
    background-color: rgb(111, 221, 1);
    background-image: url(https://c4.wallpaperflare.com/wallpaper/130/489/289/the-sky-leaves-track-green-wallpaper-preview.jpg);
    /* background-repeat: no-repeat; */
    background-size: 100%;
    font-size: 20px;
    }
.box{
    font-family: "Calibri";
    align-self: center;
    border: 4px double;
    border-color: white;
    border-radius: 20px;
    color: rgb(255, 225, 0);
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.5);
    width: 22%;
    font-weight: bold;
    margin-left: auto;
    margin-top: 50px;
    margin-bottom: auto;
    margin-right: auto;
    }
.sbton{
    align-content: center;
    justify-content: center;
    }
.adjmar{
    height: 4px;
    }
input{
    background: transparent;
    color: white
    }
button {
    display: inline-block;
    background-color: #0084ff;
    border-radius: 10px;
    border: 2px double #cccccc;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    padding: 2px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    }
button:hover {
    background-color: #dddddd;
    color: black;
    }
.info{
    backdrop-filter: blur(20px);
    background-color: rgba(0, 0, 0, 0.7);
    margin-top: 100px;
    }
.mp{
    width: 100%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 5px;
    }
#ceye{
    display:none;
    }
.marbtmc{
    height: 20px;
    }
.navhm{
    height: 33px;
    width: 200px;
    }
.lgbtn{
    font-size: 18px;
    height: 33px;
    }
@media screen and (max-width: 600px){
    body{
        font-size: 12px;
    }
    h1{
        font-size: 32px;
    }
    .box{
        width: 70%;
    }
    button{
        font-size: 12px;
    }
    .info{
        margin-top: 15px;
    }
    .map{
        height: 200px;
    }
    .ttl{
        height: 70px;
    }
    .btn{
        margin-top: 8px;
    }
    .navhm{
        width: 120px;
        height: 22px;
    }
    .cpyr{
        font-size: 8px;
    }
    .marbtmc{
        height: 8px;
    }
    .mp{
        font-size: 10px;
    }
    .lgbtn{
        font-size: 12px;
        height: 22px;
        width: 65px;
    }
    }